{% extends 'layouts/outer.html' %}

{% block title %}CSS Board{% endblock %}

{% block content %}

<div id="landing">
  <section>
    <h1>Cloud Smart School Board</h1>
    <p>
      Whenever you need to lay out pictures, text notes, video and audio clips on a blank canvas,
      CSS Board can help you.
    </p>
    <p>
      CSS Board  is a browser based application. It is the right tool for you if you want to quickly put together a collage of your idea or concept, either for yourself or to share it with teammembers, clients or students. Changes are updated in realtime.
    </p>
    <p>
      CSS Board  is not meant for creating polished designs, but it is a good fit for:
    </p>
    <ul>
      <li>Moodboards</li>
      <li>Collages</li>
      <li>Teaching (Virtual Blackboards)</li>
      <li>Shared Whiteboards</li>
      <li>Design Thinking</li>
    </ul>
  </section>
</div>

{% endblock %}
